Hotel/WebContent/wsdl/OtroServicio.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://reservation.sample.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://reservation.sample.com" xmlns:intf="http://reservation.sample.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://reservation.sample.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="reservaUpc">
    <complexType>
     <sequence>
      <element name="nombre" type="xsd:string"/>
      <element name="numeroHabitacion" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="reservaUpcResponse">
    <complexType>
     <sequence>
      <element name="reservaUpcReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="reservaUpcRequest">

      <wsdl:part element="impl:reservaUpc" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="reservaUpcResponse">

      <wsdl:part element="impl:reservaUpcResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="OtroServicio">

      <wsdl:operation name="reservaUpc">

         <wsdl:input message="impl:reservaUpcRequest" name="reservaUpcRequest">

       </wsdl:input>

         <wsdl:output message="impl:reservaUpcResponse" name="reservaUpcResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="OtroServicioSoapBinding" type="impl:OtroServicio">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="reservaUpc">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="reservaUpcRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="reservaUpcResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="OtroServicioService">

      <wsdl:port binding="impl:OtroServicioSoapBinding" name="OtroServicio">

         <wsdlsoap:address location="http://localhost:9080/Hotel/services/OtroServicio"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
