ProveedorSW/WebContent/wsdl/ServicioManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://servicio.upc.edu.pe" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://servicio.upc.edu.pe" xmlns:intf="http://servicio.upc.edu.pe" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://servicio.upc.edu.pe" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="saludo">
    <complexType>
     <sequence>
      <element name="nombre" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="saludoResponse">
    <complexType>
     <sequence>
      <element name="saludoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="saludoResponse">

      <wsdl:part element="impl:saludoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saludoRequest">

      <wsdl:part element="impl:saludo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ServicioManager">

      <wsdl:operation name="saludo">

         <wsdl:input message="impl:saludoRequest" name="saludoRequest">

       </wsdl:input>

         <wsdl:output message="impl:saludoResponse" name="saludoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServicioManagerSoapBinding" type="impl:ServicioManager">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="saludo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saludoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="saludoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServicioManagerService">

      <wsdl:port binding="impl:ServicioManagerSoapBinding" name="ServicioManager">

         <wsdlsoap:address location="http://localhost:9080/ProveedorSW/services/ServicioManager"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
